body{
    font-family: 'Roboto', sans-serif;
}

/*Header Start*/

#header{
    font-family: 'Roboto', sans-serif;
    background-color: #19283f;
    padding-bottom: 90px;
}
#header .topheader{
      padding-top: 20px;
}
#header .topheader .col-lg-3{
    text-align: center;
    cursor: pointer;
}
#header .topheader .col-lg-7{
    text-align: right;
}
#header .topheader .col-lg-7 ul{
    list-style: none;
    padding-top: 10px;
}
#header .topheader .col-lg-7 ul li{
    display: inline-block;
    padding-right: 30px;
}
#header .topheader .col-lg-7 ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #a8b9c0;
}
#header .topheader .col-lg-7 ul li a:hover{
    color: #05a7a6;
    transition: 0.2s;
}
#header .topheader .col-lg-7 ul li a i{
    border-left: 1.5px solid #05a7a6;
    padding-left: 30px;
}
#header .topheader .col-lg-2{
    padding-top: 10px;
}
#header .topheader .col-lg-2 a{
    padding: 8px 30px;
    background-color: red;
    color: rgb(211, 211, 111);
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}
#header .topheader .col-lg-2 a:hover{
    background-color: #a8b9c0;
    color: #19283f;
    transition: 0.2s;
}
#header .desheader{
    text-align: center;
    padding-top: 90px;
}
#header .desheader .desinner h2{
    color: aliceblue;
    padding-bottom: 5px;
    font-size: 45px;
    font-weight: 400;
}
#header .desheader .desinner p{
    color: aliceblue;
    padding-bottom: 30px;
}
#header .desheader .desinner a{
    padding: 9px 30px;
    background-color: red;
    color: rgb(211, 211, 111);
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}
#header .desheader .desinner a:hover{
    background-color: #a8b9c0;
    color: #19283f;
    transition: 0.2s;
}

/*Header end*/


/*two start*/

.parttwo .col-lg-12{
    text-align: center;
    padding: 50px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
.parttwo .col-lg-12 img{
    padding-bottom: 25px;
}
.parttwo .col-lg-12 h3{
    font-size: 30px;
    color: #1a2940;
}
.parttwo .col-lg-12 .pp{
    font-size: 15px;
    text-transform: uppercase;
    color: #a8b9c0;
    border-bottom: 1px solid #05a7a6;
    width: 240px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo{
    padding-top: 70px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo i{
    color: #05a7a6;
    font-size: 30px;
    padding-bottom: 25px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo h4{
    text-transform: uppercase;
    color: rgb(180, 180, 16);
    padding-bottom: 15px;
    font-size: 18px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo p{
    font-size: 15px;
    color: #91a8b1;
}
/*two end*/


/*three start*/

.partthree{
    background-color: #ffffff;
    padding: 20px 0px 50px 0px;
    font-family: 'Roboto', sans-serif;
}
.partthree .topthree .col-lg-12{
    text-align: center;
    padding-bottom: 40px;
}
.partthree .topthree .col-lg-12 img{
    padding-bottom: 30px;
}
.partthree .topthree .col-lg-12 h3{
    font-size: 25px;
    color: #19283f;
    font-weight: 500;
    padding-bottom: 10px;
}
.partthree .topthree .col-lg-12 p{
    font-size: 14px;
    border-bottom: 1px solid #05a7a6;
    padding-bottom: 6px;
    color: #4c5663;
}
.partthree .topthree .col-lg-12 h6{
    font-size: 14px;
    font-weight: 350;
    color: #5c6b70;
    padding-top: 10px;
}
.partthree .bottomthree .col-lg-6 img{
    width: 550px;
}
.partthree .bottomthree .col-lg-6 .innerthree{
    padding: 30px 0px 0px 90px;
}

.partthree .bottomthree .col-lg-6 h1{
    font-size: 29px;
    color: #19283f;
    padding-bottom: 12px;
    font-weight: 450;
}
.partthree .bottomthree .col-lg-6 p{
    color: #4c5663;
    font-size: 14px;
    padding-bottom: 30px;
    text-align: justify;
}
.partthree .bottomthree .col-lg-6 a{
    padding: 10px 25px;
    background-color: red;
    color: rgb(211, 211, 111);
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
}
.partthree .bottomthree .col-lg-6 a:hover{
    background-color: #a8b9c0;
    color: #19283f;
    transition: 0.2s;
}

/*three end*/


/*four start*/

.partfour{
    text-align: center;
    background-color: #19283f;
    color: #a8b9c0;
    padding: 50px 0px;
    font-family: 'Roboto', sans-serif;
}
.partfour h1{
    font-size: 25px;
    font-weight: 450px;
    padding-bottom: 15px;
}
.partfour p{
    font-size: 14px;
    padding-bottom: 20px;
}
.partfour .col-lg-12 a{
    padding: 10px 25px;
    background-color: red;
    color: rgb(211, 211, 111);
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
}
.partfour .col-lg-12 a:hover{
    background-color: #a8b9c0;
    color: #19283f;
    transition: 0.2s;
}

/*four end*/


/*five start*/

.parttwo .col-lg-12{
    text-align: center;
    padding: 50px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.parttwo .col-lg-12 img{
    padding-bottom: 25px;
}
.parttwo .col-lg-12 h3{
    font-size: 30px;
    color: #1a2940;
}
.parttwo .col-lg-12 .pp{
    font-size: 15px;
    text-transform: uppercase;
    color: #a8b9c0;
    border-bottom: 1px solid #05a7a6;
    width: 240px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo{
    padding-top: 70px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo img{

    padding-bottom: 25px;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo h4{
    text-transform: uppercase;
    color: rgb(34, 34, 29);
    padding-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.parttwo .col-lg-12 .col-lg-4 .innertwo p{
    font-size: 15px;
    color: #91a8b1;
}
/*five end*/


/*Footer start*/

.footer{
    padding: 50px 0px 30px 0px;
    background-color: #19283f;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
.footer .col-lg-4 img{
    padding-bottom: 20px;
}
.footer .col-lg-4 p{
    padding-bottom: 30px;
    font-size: 15px;
}
.footer .col-lg-4 h6{
    font-size: 14px;
    color: darkgoldenrod;
}
.footer .col-lg-2 h4{
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 15px;
    padding-bottom: 10px;
}
.footer .col-lg-2 ul{
    padding-left: 0;
}
.footer .col-lg-2 ul li{
    padding-bottom: 8px;
}
.footer .col-lg-2 ul li a{
    text-decoration: none;
    color: #a8b9c0;
    font-size: 15px;
}
.footer .col-lg-4 h4{
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 15px;
    padding-bottom: 10px;
}
.footer .col-lg-4 p{
    padding-bottom: 15px;
}
.footer .col-lg-4 .ppp{
    padding: 10px 5px;
    background-color: rgb(165, 29, 29);
    color: rgb(211, 211, 111);
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}
.footer .col-lg-4 ul li a{
    background-color: #19283f;
}
.footer .col-lg-4 ul{
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0px;
}
.footer .col-lg-4 ul li{
    display: inline-block;
    padding-right: 10px;
    font-size: 17px;
}
.footer .co-lg-4 ul li a{
    text-decoration: none;
}
.footer .col-lg-4 ul li a i{
    color: #fff;
}
.footer .col-lg-4 ul li a i:hover{
    color: #05a7a6;
    transition: 0.2s;
}
/*Footer end*/

